*.o
*.lo
*.la
.deps
.libs
.dirstamp
Makefile
Makefile.in
SpiralSynthModular
spiralsynthmodular
/SpiralSynthPluginLocation.h
/stamp-h1
/libtool
/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.guess
/config.sub
/config.log
/config.status
/configure
/configure~
/config.h.in~
/depcomp
/install-sh
/ltmain.sh
/missing
/test-driver
